HOST=0.0.0.0
PORT=1337
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name
RESEND_API_KEY=re_xxxxxxxxx
RESEND_FROM=Maison JLA <bonjour@votre-domaine.fr>
RESEND_REPLY_TO=bonjour@votre-domaine.fr
SENDCLOUD_PUBLIC_KEY=VOTRE_CLE_PUBLIQUE_SENDCLOUD
SENDCLOUD_SECRET_KEY=VOTRE_CLE_SECRETE_SENDCLOUD
SENDCLOUD_INTEGRATION_ID=VOTRE_IDENTIFIANT_INTEGRATION_SENDCLOUD
